autograd==1.4
autopep8==1.6.0
bottleneck==1.3.5
brotlipy==0.7.0
cdlib==0.2.6
factor-analyzer==0.4.1
flake8==4.0.1
jupyter==1.0.0
jupyterlab==3.4.4
kaleido==0.2.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mycolorpy==1.5.1
nltk==3.7
numexpr==2.8.3
pingouin==0.5.2
pip-chill==1.0.3
plotly==5.10.0
pydocstyle==6.1.1
pyopenssl==22.0.0
pyreadstat==1.1.9
pysocks==1.7.1
rope==0.22.0
rpy2==2.9.4
scikit-network==0.26.0
scikit-posthocs==0.7.0
sip==6.6.2
spyder==5.2.2
threadpoolctl==2.2.0
torch==1.12.1
unidecode==1.2.0
win-inet-pton==1.1.0
wincertstore==0.2
yapf==0.31.0
